* {
    background-color: black;
    width: 100px;
    height: 50px;
    border-radius: 25px;
}

div {
    background-color: #FFFFFF;
}

checkbox {
    top: 200px;
    left: 200px;
}

radio {
    top: 200px;
    left: 250px;
    background-color: transparent;
}

#radio_div {
    top: 400px;
    width: 100%;
    height: 100px;
    background-color: lightblue;
}

#radio1 {
    top: 437px;
    left: 112px;
}

#radio2 {
    top: 437px;
    left: 237px;
}

#radio3 {
    top: 437px;
    left: 362px;
}

#TEXT {
    background-color: grey;
    color: black;
    font-family: "Raleway";
    width: 200px;
    height: 20px;
}

#button_label {
    background-color: red;
    font-family: "Raleway";
    color: black;
    left: inherit;
    top: inherit;
    width: inherit;
    height: inherit;
}